/*
控制邮件显示的样式
*/

/* #box {
    不要定义 #box以免和其它object 加载的文件冲突
    width: 100%;
    height: 100%;
    display: none;
} */


#logBoxC .inbox-content *{
    max-width: 400px;
}
#logBoxC .inbox-emall .email-uid div {
    max-width: 380px;
}

#logBoxC .inbox-emall .email-uid tr {
    max-width: 380px;
}

#logBoxC .inbox-emall .email-uid img {
    max-width: 380px;
}

#logBoxC  .email-uid {
    display: block;
    width: 100%;
    min-height: 502px;
    word-break: break-all;
    word-wrap: break-word;
    background: #fff;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    display: none;
    position: relative;
}


.fromImg {
    width: 44px;
    height: 44px;
    background: rgba(30, 30, 36, 1);
    border-radius: 22px;
    text-align: center;
    line-height: 44px;
    color: #fff;
}

.fromImg2 {
    width: 22px;
    height: 22px;
    background: rgba(30, 30, 36, 1);
    border-radius: 11px;
    text-align: center;
    line-height: 22px;
    color: #fff;
}

.nomail {
    margin-top: 28px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(148, 150, 161, 1);
    line-height: 17px;
    text-align: center;
}

.mini-dialog-header {
    background: rgba(242, 242, 242, 1);
    box-shadow: 0px 1px 0px 0px rgba(230, 230, 230, 1);
    text-align: center;
}

.index {
    width: 960px;
    float: left;
    height: 100%;
    background: #E6E6E6;
    box-sizing: border-box;
    overflow: hidden;
}

#menu .userLogo {
    margin-top: 60px;
}

#menu {
    width: 70px;
    float: left;
    height: 100%;
    background: #1E1E24;
    box-sizing: border-box;
}

#menu header {
    width: 100%;
    height: 130px;
    text-align: center;   
}

#menu section {
    width: 100%;
    height: 420px;
}

#menu footer {
    width: 100%;
    height: 80px;
    text-align: center;
}

.settingImg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.newAccountBtnImg {
    border: 1px dashed #ccc;
    padding: 3px;
    margin-top: -150px;
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.nav li {
    width: 100%;
    flex: 1;
    text-align: center;
}

#new-emall {
    width: 200px;
    height: 100%;
    float: left;
    z-index: 999;
    background: #E6E6E6;
}

#new-emall header {
    width: 200px;
    height: 48px;
    background: rgba(245, 246, 247, 1);
    box-shadow: 0px 1px 0px 0px rgba(230, 230, 230, 1);
    text-align: center;
    line-height: 24px;
}

#new-emall section {}

#new-emall footer {
    margin-top: 9px;
}

#list-emall {
    width: 310px;
    height: 100%;
    background: #fff;
    float: left;
    z-index: 999;
}

.inbox-emall {
    width: 450px;
    height: 100vh;
    float: left;
    z-index: 999;
    background: rgba(245, 246, 247, 1);

}

.newTag {
    width: 24px;
    height: 24px;
}

.userLogo {
    border-radius: 50%;
    overflow: hidden;
}


.emall-card {
    width: 100%;
    height: 100%;
    background: rgba(245, 246, 247, 1);
}

.emall-card li {
    width: 100%;
    display: flex;
    height: 40px;
    border-bottom: 1px solid #E6E6E6;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
}

.jusCenter {
    align-items: center;
    justify-content: center;
    display: flex;
}

.new-email {
    width: 177px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    border: 1px solid rgba(230, 230, 230, 1);
    cursor: pointer;
}

.new-email .newTag {
    position: relative;
    top: 6px;
}

.spanA,
.spanC {
    text-align: center;
}

.spanA {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 6px;
}

.spanB {
    flex: 128px;
    line-height: 40px;
}

.spanC {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.spanC img {
    width: 11px;
    height: 8px;
}

.list-search {
    width: 286px;
    height: 32px;
    background: #F5F6F7;
    overflow: hidden;
}

#list-emall header {
    width: 310px;
    height: 48px;
}

.list-search input {
    margin-left: 4%;
    width: 96%;
    height: 32px;
    background: #F5F6F7;
    border: 0;
}

.list-emallDiv {
    width: 310px;
    height: 80px;
    /* background: rgba(230, 230, 230, 1); */
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgba(230, 230, 230, 1);
    display: flex;
    border-bottom: 1px dashed  #e6e6e6;
    cursor: pointer;
}

.list-emallDivAdd{
    background: rgba(230, 230, 230, 1);
}

.list-emallDiv:active{
    background: rgba(230, 230, 230, 1);
}
.list-emallDiv:focus{
    background: rgba(230, 230, 230, 1);
}

/* .list-emallDiv:nth-of-type(even) {
    background: #FFFFFF;
} */

.emallDivA {
    flex: 1;
    height: 100%;
}

.emallDivB {
    font-size: 14px;
    flex: 3;
    line-height: 20px;
}

.font12 {
    font-size: 12px;
    line-height: 18px;
}
#logBoxC .font12{
    font-size: 12px;
    line-height: 18px;
}

.emallDivA .userLogo {
    width: 44px;
    height: 44px;
}

.emallDivB p:first-child {
    margin-top: 18px;
}

.inbox-emall header {
    float: left;
    width: 100%;
    height: 48px;
    background: rgba(245, 246, 247, 1);
    box-shadow: 0px 1px 0px 0px rgba(230, 230, 230, 1);
    line-height: 24px;
    display: flex;
}
.inbox-emall-userHead{
    width:395px;
    height:128px;
    background:rgba(255,255,255,1);
    outline: 1px solid red;
    box-sizing: border-box;
}

.inboxEmallA {
    line-height: 48px;
    text-indent: 1em;
    flex: 1;
}

.inboxEmallB {
    line-height: 60px;
    text-align: right;
    margin-right: 12px;
    width: 200px;
}

.inbox-emall section {
    float: left;
    width: 100%;
    height: 504px;
}

.inbox-emall footer {
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    top: 7px;
    text-align: right;
}

#logBoxC .inbox-content {
    position: relative;
    top: 7px;
    width: 435px;
    height: 504px;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(232, 231, 233, 1);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;

    background: url('../img/emailLogo.png') center center no-repeat;

}

.inboxBtn {
    width: 100px;
    height: 28px;
    background: rgba(102, 70, 247, 1);
    border-radius: 5px;
    color: #fff;
}

.inboxBtnA {
    width: 100px;
    height: 28px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    color: #000;
}

.inbox-emall footer {
    display: none;
}

.inbox-emall footer button {
    margin: 6px;
    cursor: pointer;
}

.list-search input {
    background: url(../img/Search/statusbar_search_n.png) no-repeat left center;
    text-indent: 2em;
}

section .emall-card .newTag {
    width: 20px;
    height: 20px;
}

footer .emall-card .newTag {
    width: 14px;
    height: 14px;
}

.time {
    float: right;
    transform: scale(0.8);
    margin-right: 5px;
    color: #9B9B9B;
}

.annex {
    float: right;
    color: rgba(74, 74, 74, 1);
    height: 14px;
    width: 30px;
    display: table-cell;
    transform: scale(0.8)
}

.annex em {
    position: relative;
    top: -3px;
}

.newAccountBtn {
    width: 120px;
    height: 29px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(230, 230, 230, 1);
    margin-top: 15px;
    cursor: pointer;
}

.newAccount {
    width: 340px;

    box-sizing: border-box;
}

.newAccountDiv {

    width: 340px;
    margin-left:-100px;
    box-sizing: border-box;
    height: auto;
    position: absolute;
    top: 30px;
    left: 50%;
    box-shadow: 0px 4px 18px 0px rgba(43, 43, 51, 0.34);
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.newAccountHead {
    width: 340px;
    height: 48px;
    background: rgba(242, 242, 242, 1);
    text-align: center;
    line-height: 48px;

}

.newAccountFooter {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: right;
    background: rgba(242, 242, 242, 1);

}

.newAccountCancel {
    width: 70px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(230, 230, 230, 1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(30, 30, 36, 1);
    line-height: 20px;
    cursor: pointer;
    margin-right: 42px;
}

.newAccountList {
    width: 340px;
    display: flex;
    background: #fff;
    min-height: 30px;
    cursor: pointer;
}

.newAccount .ia {
    width: 66px;
    display: block;
    text-align: right;
    height: 48px;
    line-height: 48px;
    margin-right: 15px;
}

#imap .ia {
    width: 120px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    background: rgba(245, 246, 247, 1);
}

.newAccount .ia img {
    position: relative;
    top: 8px;

}

.newAccount .ib {
    flex: 1;
    display: block;
    height: 48px;
    line-height: 48px;
}

#imap .ib {
    border-bottom: 0px solid #e6e6e6;

}

.newAccountTxt {
    margin: 15px 0 5px 30px;

}

#imap .newAccountList {
    background: #F5F6F7;
}

.mailLogin {
    width: 300px;
    margin:0 0 0 -110;
    height: 400px;
    background: rgba(245, 246, 247, 1);
    box-shadow: 0px 4px 18px 0px rgba(30, 30, 36, 0.2);
    border-radius: 8px;
    position: absolute;
    top: 50px;
    left: 50%;
    box-sizing: border-box;
    padding: 50px 30px 30px;
    z-index: 999;
}

.error{
    width: 300px;
    box-shadow: 0px 4px 18px 0px rgba(30, 30, 36, 0.2);
    border-radius: 8px;
    position: absolute;
    top:  50%;
    left: 50%;
    box-sizing: border-box;
    padding: 15px;
    display: none;
    z-index: 9999;
    background-color: #fff1f0;
    border: 1px solid #ffa39e;
}
.mailLogin header {
    text-align: center;
}

.mailLogin section p {
    line-height: 36px;
}

.mailLogin section p input {
    text-indent: 0.5em;
}

.mailLoginTitle {
    margin-top: 5px;
}

.mailLogin footer button {
    margin-top: 38px;
    color: #fff;
    cursor: pointer;
}

.mailLoginInput {
    width: 240px;
    height: 38px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid rgba(230, 230, 230, 1);
}

.index-mailLoginBtn {
    width: 240px;
    height: 44px;
    background: rgba(102, 70, 247, 1);
    border-radius: 7px;
}
.mailLoginBtn {
    width: 240px;
    height: 44px;
    background: rgba(102, 70, 247, 1);
    border-radius: 7px;
}

/* 美化滚动条 */
.section-scroll {
    width: 100%;
    height: 552px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nui-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*正常情况下滑块的样式*/
.nui-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
.nui-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*鼠标悬浮在滑块上时滑块的样式*/
.nui-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

/*正常时候的主干部分*/
.nui-scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: white;
}

/*鼠标悬浮在滚动条上的主干部分*/
.nui-scroll::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    background-color: rgba(0, 0, 0, .01);
}

.dot {
    width: 120px;
    height: 40px;
    
    outline: 0px solid #ccc;
    -webkit-app-region: none;
    position: absolute;;
    left:0;
    top:0;
  }

  .dotA {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #FF554C;
    margin: 16px 0 0 8px;
    float: left;
    cursor: pointer;
  }

  .dotB {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #FFCC00;
    margin: 16px 0 0 8px;
    float: left;
  }

  .dotC {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #4CD964;
    margin: 16px 0 0 8px;
    float: left;
  }